<div class="w-full h-full border-t border-t-neutral-300">
    <div class="w-full h-full grid grid-cols-5">
        <a routerLink="/dashboard" class="flex justify-center items-center gap-1 flex-col text-blue-600">
            <i class="fa-solid fa-cubes text-2xl"></i>
            <p class="text-xs font-medium ">Dashboard</p>
        </a>
        <div class="flex justify-center items-center gap-1  flex-col text-slate-500">
            <i class="fa-solid fa-clipboard-list text-2xl"></i>
            <p class="text-xs font-medium ">Audit</p>
        </div>
        <div class="flex justify-center items-center gap-1  flex-col text-orange-600">
            <button (click)="toggleMenu()">
                <i class="fa-solid fa-circle-plus text-2xl"></i>
                <p class="text-xs font-medium ">New</p>
            </button>
        </div>
        <div class="flex justify-center items-center gap-1  flex-col text-slate-500">
            <i class="fa-solid fa-bolt text-2xl"></i>
            <p class="text-xs font-medium ">CAP</p>
        </div>
        <a routerLink="/reports" class="flex justify-center items-center gap-1  flex-col text-slate-500">
            <i class="fa-solid fa-file-circle-plus text-2xl"></i>
            <p class="text-xs font-medium ">Reports</p>
        </a>
    </div>
</div>